<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace = "fragments :: navigation"></nav>
    <!-- <p>th: unless = "${cheese}">No Cheese :(</p>--> <!--use this code if nothing is passed in-->
    <p th:unless = "${cheeses} and ${cheeses.size()}">No Cheese :(</p>

    <ul>
        <li th:each = "cheese : ${cheeses}" th:text="${'Name: '  + cheese.name + ' Description: ' + cheese.description}"></li>
    </ul>
</body>
</html>